#!/usr/bin/make -f

%:
	dh $@ --buildsystem=pybuild --with python2 --install-layout=deb,quilt


override_dh_clean:
	rm -rf ./build
	rm -rf ./*egg
	dh_clean

override_dh_install:
	dh_install
	mv debian/joulupukki-api/etc/joulupukki/config.py debian/joulupukki-api/etc/joulupukki/joulupukki-api.conf

